* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    text-align: center;
}

.Parent_container {
    margin: 12% auto;
    display: flex;
    width: 43%;
}

.First_Decendant {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    border-radius: 6%;
}

h1 {
    font-size: 18px;
    padding-top: 20px;
    color: hsl(241, 100%, 89%);
}

h2 {
    color: white;
    padding-bottom: 2px;
    font-size: 50px;
}

p {
    color: hsl(241, 100%, 89%);
    font-size: 12px;
}

.circle {
    margin: 10% auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

h3 {
    font-size: 20px;
    color: white;
    padding-top: 2px;
}

.paragraph {
    padding-top: 10px;
    padding-bottom: 40px;
}

.Second_Decendant {
    width: 50%;
    background: hsl(0, 0%, 100%);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.h2_family {
    color:  hsl(224, 30%, 27%);
    font-size: 18px;
    text-align: left;
    padding-top: 18px;
    padding-left: 18px;
    margin-bottom: 5%;
}

img {
    height: 13px;
    width: 13px;
    margin: auto;
}

.one {
    display: flex;
    justify-content: space-between;
    padding: 11px 11px;
    background: hsl(0, 75%, 97%);
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 85%;
}

.exp {
    color: hsl(0, 100%, 67%);
    padding-left: 5px;
}

.r {
    display: flex;
}

.f {
    display: flex;
}

.two {
    display: flex;
    justify-content: space-between;
    padding: 11px 11px;
    background: hsl(40, 90%, 96%);
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 85%;
}

.exp1 {
    color: hsl(39, 100%, 56%);
    padding-left: 5px;
}

.m {
    display: flex;
}

.f1 {
    display: flex;
}

.three {
    display: flex;
    justify-content: space-between;
    padding: 11px 11px;
    background: hsl(162, 62%, 96%);
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 85%;
}

.exp2 {
    color: hsl(166, 100%, 37%);
    padding-left: 5px;
}

.v {
    display: flex;
}

.f2 {
    display: flex;
}

.four {
    display: flex;
    justify-content: space-between;
    padding: 11px 11px;
    background: hsl(233, 73%, 96%);
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 85%;
}

.exp3 {
    color: hsl(234, 85%, 45%);
    padding-left: 5px;
}

.vi {
    display: flex;
}

.f3 {
    display: flex;
}

.fig, .fig1, .fig2, .fig3 {
    font-size: 14px;
    padding-right: 5px;
    color: hsl(224, 30%, 27%);
}

.fade, .fade1, .fade2, .fade3 {
    font-size: 14px;
    padding: auto;
    color: hsl(240, 0%, 55%);
}

.five {
    padding: 11px;
    background: hsl(224, 30%, 27%);
    margin: 28PX auto;
    border-radius: 20px;
    width: 85%;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}